.imgStyle {
  width: 100%;
  height: auto;
  border: 5px solid red;
  border-radius: 10px;
}

.imgStyle:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.menu {
  background-color: rgb(44, 191, 205);
  display: flex;
  gap: 20px;
  padding: 100px;
  justify-content: center;
}

.char {
  width: 20%;
  height: auto;
}

.gifStyle {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.loreStyle {
  background-image: url("/loading_controls.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}
