.gifStyle {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.charBackground1 {
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 45%;
}

.charBackground2 {
  z-index: 2;
  position: absolute;
  right: 22%;
  bottom: 78%;
}

.charBackgroundContainer {
  position: relative;
  width: 100%;
  height: 500px; /* ou auto si basé sur le contenu */
  overflow: visible; /* permet à l'image de dépasser */
}
